@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 13% 10%;
    --foreground: 210 20% 98%;
    --card: 240 13% 12%;
    --card-foreground: 210 20% 98%;
    --popover: 240 13% 12%;
    --popover-foreground: 210 20% 98%;
    --primary: 240 50% 65%;
    --primary-foreground: 240 13% 10%;
    --secondary: 240 10% 20%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 10% 16%;
    --muted-foreground: 215 20% 65%;
    --accent: 212 72% 60%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 10% 18%;
    --input: 240 10% 18%;
    --ring: 240 50% 65%;
    --radius: 0.75rem;
    
    --sidebar-background: 240 13% 8%;
    --sidebar-foreground: 215 20% 85%;
    --sidebar-primary: 240 50% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 10% 15%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 240 10% 15%;
    --sidebar-ring: 240 50% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline tracking-tight;
  }
}
